<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Tea: Bubble Edition</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>
  
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <atlas file="gui/atlas.png"/>
    <atlas2 file="gui/atlas2.png"/>
    <HUD file="gui/HUD.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>
  
  <fonts>
    <default_font file ="fonts/open_sans/OpenSans-BoldItalic.ttf"/>
  </fonts>

  <scene>
    <menu_background file ="gui/menu_background.png"/>
  </scene>

  <audio>
    <menu_music file="audio/music/Song.ogg"/>
    <game_music file="audio/music/Menu_Music.ogg"/>
  </audio>

</config>